/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-slider-working-test {
	border: 1px dotted #f00;
}
.caption .title {
    color: inherit; /* Ensure that it inherits the color from inline styles */
  }
  .desktop {
    font-size: 18px;
}

.tablet {
    font-size: 18px;
}

.mobile {
    font-size: 18px;
}

@media (max-width: 1024px) {
    .tablet {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .mobile {
        font-size: 14px;
    }
}
.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.caption {
    position: absolute;
    bottom: 20px;
    color: white;
    background: rgba(0, 0, 0,0.50);
    // display: flex;
    flex-direction: column;
}
.caption .title,.caption .line{
    background-color: red;
}
.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}